#root {
	width: 100%;
	min-height: 100vh;
	margin: 0 auto;
	text-align: center;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	box-sizing: border-box;
}

header {
	width: 100%;
	padding: 0 2rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	color: gold;

	box-sizing: border-box;
}

.content {
	width: 100%;

	flex: 1;
	display: flex;
	flex-direction: row;
}

main {
	width: 100%;
	min-height: 50vh;
	padding: 2rem;
	flex: 1;

	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position-x: .5rem;

	box-sizing: border-box;
}

.card-container {
	width: 100%;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 1rem;
}

footer {
	width: 100%;
	padding: .5rem;

	display: grid;
	grid-template-columns: repeat(3, 1fr);

	color: var(--red-marv);
	box-sizing: border-box;
}

footer span:nth-child(1) {
	justify-self: start;
	cursor: pointer;
	transition: color .5s;
}

footer span:nth-child(1):hover {
	color: var(--green-comic);
}

footer a {
	width: fit-content;
}
