.loading-screen {
	/* Fixed pos taking up whole viewport */
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	background-color: rgba(0, 0, 0, 0.615);
}

/* Icon */
.loading {
	width: 20vw;
	
	animation-name: spin;
	animation-timing-function: ease;
	animation-duration: 1s;
	animation-iteration-count: infinite;
}

.loading-screen p {
	margin-top: 3rem;
	font-size: 1.5em;
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}
